<!-- Navigation -->


<header-carousel-component></header-carousel-component>
<!-- Page Content -->

<!-- <app-user-register></app-user-register> -->


<div id="wacht-leftside-dark">
  <a href="https://wa.me/+573008155219&amp;text=Hola, quisiera información"
    onclick="gtag('event', 'WhatsApp', {'event_action': 'whatsapp_chat', 'event_category': 'Chat', 'event_label': 'Chat_WhatsApp'});"
    target="_blank">
    <img src="https://img.icons8.com/material-outlined/44/ffffff/whatsapp.png">
  </a>
</div>

<!-- <subscription-list-component></subscription-list-component> -->
<!-- <dialog-overview-example></dialog-overview-example>

<dialog-overview-example-dialog></dialog-overview-example-dialog> -->



<div class="container margin-top--40">
  <div class="row">
    <div class="col-lg-3 col-md-4 side-nav">
      <!-- EMPIEZA AQUI -->
      <p class="side-nav--title" id="openCategories">
        Filter By Categorias
        <i class='fas fa-filter'></i>
      </p>
      <div class="side-nav--overlay mobile"></div>
      <div class="side-nav--categories">
        <p class="side-nav--title mobile" id='closeCategories'>
          Categorias
          <i class='fas fa-close'></i>
        </p>
        <ul class="list-group side-nav--list">
          <li class="side-nav--item__title ">
            <input type="checkbox" id='category-computers' />
            <label class="list-group-item" for='category-computers'>
              <span>
                Computadores
              </span>
              <i class="fas fa-angle-down"></i>
            </label>
            <ul class="category--list">
              <li class="category-item">
                <a class="margin-top--20">Desktop</a>
              </li>
              <li class="category-item">
                <a>Portátiles</a>
              </li>
              <li class="category-item">
                <a>AIO (Todo en Uno)</a>
              </li>
              <li class="category-item">
                <a>Partes</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="list-group side-nav--list">
          <li class="side-nav--item__title ">
            <input type="checkbox" id='category-audio-video' />
            <label class="list-group-item" for='category-audio-video'>
              <span>
                Audio y Video
              </span>
              <i class="fas fa-angle-down"></i>
            </label>
            <ul class="category--list">
              <li class="category-item">
                <a class="margin-top--20">Diademas</a>
              </li>
              <li class="category-item">
                <a>Parlantes</a>
              </li>
              <li class="category-item">
                <a>Subwoofer</a>
              </li>
              <li class="category-item">
                <a>Partes</a>
              </li>
              <li class="category-item">
                <a>Proyectores</a>
              </li>
              <li class="category-item">
                <a>Telones</a>
              </li>
              <li class="category-item">
                <a>Monitores</a>
              </li>
              <li class="category-item">
                <a>Televisores</a>
              </li>
              <li class="category-item">
                <a>Presentadores</a>
              </li>
              <li class="category-item">
                <a>Camaras Web</a>
              </li>
              <li class="category-item">
                <a>Camaras Go Pro</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="list-group side-nav--list">
          <li class="side-nav--item__title ">
            <input type="checkbox" id='category-print' />
            <label class="list-group-item" for='category-print'>
              <span>
                Impresoras
              </span>
              <i class="fas fa-angle-down"></i>
            </label>
            <ul class="category--list">
              <li class="category-item">
                <a class="margin-top--20">Sistema de Tinta Continuo</a>
              </li>
              <li class="category-item">
                <a>Laser</a>
              </li>
              <li class="category-item">
                <a>De Punto</a>
              </li>
              <li class="category-item">
                <a>Pos</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="list-group side-nav--list">
          <li class="side-nav--item__title ">
            <input type="checkbox" id='category-tablets' />
            <label class="list-group-item" for='category-tablets'>
              <span>
                Tablets
              </span>
              <i class="fas fa-angle-down"></i>
            </label>
            <ul class="category--list">
              <li class="category-item">
                <a class="margin-top--20">Consumo</a>
              </li>
              <li class="category-item">
                <a>Corporativas</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="list-group side-nav--list">
          <li class="side-nav--item__title ">
            <input type="checkbox" id='category-corporative' />
            <label class="list-group-item" for='category-corporative'>
              <span>
                Linea Corporativa
              </span>
              <i class="fas fa-angle-down"></i>
            </label>
            <ul class="category--list">
              <li class="category-item">
                <a class="margin-top--20">Equipos Corporativos</a>
              </li>
              <li class="category-item">
                <a>Equipos POS</a>
              </li>
              <li class="category-item">
                <a>Cajones Monedero</a>
              </li>
              <li class="category-item">
                <a>Lector de Código de Barras</a>
              </li>
              <li class="category-item">
                <a>Contadora de Billetes</a>
              </li>
              <li class="category-item">
                <a>Impresoras</a>
              </li>
              <li class="category-item">
                <a>Servidores</a>
              </li>
              <li class="category-item">
                <a>Licencias</a>
              </li>
              <li class="category-item">
                <a>Antivirus</a>
              </li>
              <li class="category-item">
                <a>Sillas</a>
              </li>
              <li class="category-item">
                <a>Mesas</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="list-group side-nav--list">
          <li class="side-nav--item__title ">
            <input type="checkbox" id='category-wifi' />
            <label class="list-group-item" for='category-wifi'>
              <span>
                Redes y Wifi
              </span>
              <i class="fas fa-angle-down"></i>
            </label>
            <ul class="category--list">
              <li class="category-item">
                <a class="margin-top--20">Switch</a>
              </li>
              <li class="category-item">
                <a>Router</a>
              </li>
              <li class="category-item">
                <a>Cables</a>
              </li>
              <li class="category-item">
                <a>Gabinetes</a>
              </li>
              <li class="category-item">
                <a>Accesorios</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="list-group side-nav--list">
          <li class="side-nav--item__title ">
            <input type="checkbox" id='category-security' />
            <label class="list-group-item" for='category-security'>
              <span>
                Seguridad y CCTV
              </span>
              <i class="fas fa-angle-down"></i>
            </label>
            <ul class="category--list">
              <li class="category-item">
                <a class="margin-top--20">Hikvision</a>
              </li>
              <li class="category-item">
                <a>Hilook</a>
              </li>
              <li class="category-item">
                <a>Ezviz</a>
              </li>
              <li class="category-item">
                <a>Video Vigilancia</a>
              </li>
              <li class="category-item">
                <a>Video Vigilancia Móvil</a>
              </li>
              <li class="category-item">
                <a>Control De Acceso </a>
              </li>
              <li class="category-item">
                <a>Telefonía IP</a>
              </li>
              <li class="category-item">
                <a>Video Citofonia </a>
              </li>
              <li class="category-item">
                <a>Alarmas</a>
              </li>
              <li class="category-item">
                <a>Incendios</a>
              </li>
              <li class="category-item">
                <a>Enlaces inalámbricos</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="list-group side-nav--list">
          <li class="side-nav--item__title ">
            <input type="checkbox" id='category-gamers' />
            <label class="list-group-item" for='category-gamers'>
              <span>
                Gamers
              </span>
              <i class="fas fa-angle-down"></i>
            </label>
            <ul class="category--list">
              <li class="category-item">
                <a class="margin-top--20">Desktop</a>
              </li>
              <li class="category-item">
                <a>Portátiles</a>
              </li>
              <li class="category-item">
                <a>Partes</a>
              </li>
              <li class="category-item">
                <a>Torres</a>
              </li>
              <li class="category-item">
                <a>Teclados</a>
              </li>
              <li class="category-item">
                <a>Mouse </a>
              </li>
              <li class="category-item">
                <a>Pad Mouse</a>
              </li>
              <li class="category-item">
                <a>Accesorios</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="list-group side-nav--list">
          <li class="side-nav--item__title ">
            <input type="checkbox" id='category-storage' />
            <label class="list-group-item" for='category-storage'>
              <span>
                Almacenamiento
              </span>
              <i class="fas fa-angle-down"></i>
            </label>
            <ul class="category--list">
              <li class="category-item">
                <a class="margin-top--20">Discos Duros</a>
              </li>
              <li class="category-item">
                <a>Memorias</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="list-group side-nav--list">
          <li class="side-nav--item__title ">
            <input type="checkbox" id='category-accesorios' />
            <label class="list-group-item" for='category-accesorios'>
              <span>
                Accesorios
              </span>
              <i class="fas fa-angle-down"></i>
            </label>
            <ul class="category--list">
              <li class="category-item">
                <a class="margin-top--20">Cables</a>
              </li>
              <li class="category-item">
                <a>Adaptadores</a>
              </li>
              <li class="category-item">
                <a>Reguladores</a>
              </li>
              <li class="category-item">
                <a>UPS</a>
              </li>
              <li class="category-item">
                <a>Fuentes de Poder</a>
              </li>
              <li class="category-item">
                <a>Go Pro</a>
              </li>
              <li class="category-item">
                <a>Morrales</a>
              </li>
              <li class="category-item">
                <a>Bases de Portátil</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- /.col-lg-3 -->

    <div class="col-lg-9 col-md-8 products-list">
      <p class="products-list--title margin-bottom--30">Computadores</p>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of listaArticulos; let i = index">
          <div class="card h-100">
            <a href="#">
              <img class="card-img-top" alt="">
            </a>
            <div class="card-body">
              <h6 class="card-title">
                <a href="#">{{item.arti_descripcion}}</a>
              </h6>
              <p>{{item.arti_precioventa1 | currency: '$'}}</p>
              <button mat-button color="primary" (click)="addProducto(item)"> Añadir al carrito </button>


              <!-- <small class="text-muted ranking">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </small> -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->



      <!-- <article class="message" *ngFor="let producto of productos">
        <div class="message-header">
          <p class="subtitle white">{{producto.titulo}}</p>
        </div>
        <div class="message-body">
          {{producto.descripcion}}
          <br> Precio: {{producto.precio}} €
          <div class="message-footer">
            <button (click)="addProducto(producto)" class="button is-info">Añadir al carrito</button>
          </div>
        </div>
      </article> -->


    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>

<!-- /.container -->
<!-- /contact us -->
<!-- <contact-us-component></contact-us-component> -->
<!-- Footer -->


<!-- spinner -->
<section class="page-spinner" *ngIf="loading">
  <div class="page-spinner__container">
    <img src="/assets/img/CDComputo-logo.png" width="70px" />
  </div>
</section>