<!-- Navigation -->
<nabvar-component></nabvar-component>

<header-carousel-component></header-carousel-component>
<!-- Page Content -->

<!-- <app-user-register></app-user-register> -->


<div id="wacht-leftside-dark">
  <a href="https://wa.me/+573008155219&amp;text=Hola, quisiera información" onclick="gtag('event', 'WhatsApp', {'event_action': 'whatsapp_chat', 'event_category': 'Chat', 'event_label': 'Chat_WhatsApp'});" target="_blank"><img src="https://img.icons8.com/material-outlined/24/000000/whatsapp.png"><h6><span>Contáctanos por WhatsApp!</span></h6>
  </a>
</div>

<subscription-list-component></subscription-list-component>
<dialog-overview-example></dialog-overview-example>

<dialog-overview-example-dialog></dialog-overview-example-dialog>



<div class="container margin-top--40">
  <div class="row">
    <div class="col-lg-3 side-nav">
        <p class="side-nav--title">Categorias</p>
        <ul class="list-group side-nav--list">
            <li class="side-nav--item">
              <a href="#" class="list-group-item">
                <i class="fas fa-laptop"></i>
                Computadores
              </a>
            </li>
            <li class="side-nav--item active">
              <a href="#" class="list-group-item list-group">
                <i class="fas fa-laptop"></i>
                Audio y Video
              </a>
            </li>
            <li class="side-nav--item active">
              <a href="#" class="list-group-item list-group">
                <i class="fas fa-laptop"></i>
                Impresoras
              </a>
            </li>
            <li class="side-nav--item active">
              <a href="#" class="list-group-item list-group">
                <i class="fas fa-laptop"></i>
                Tablets
              </a>
            </li>
            <li class="side-nav--item active">
              <a href="#" class="list-group-item list-group">
                <i class="fas fa-laptop"></i>
                Línea Corporativa
              </a>
            </li>
            <li class="side-nav--item active">
              <a href="#" class="list-group-item list-group">
                <i class="fas fa-laptop"></i>
                Redes y Wifi
              </a>
            </li>
            <li class="side-nav--item active">
              <a href="#" class="list-group-item list-group">
                <i class="fas fa-laptop"></i>
                Seguridad y CCTV
              </a>
            </li>
            <li class="side-nav--item active">
              <a href="#" class="list-group-item list-group">
                <i class="fas fa-laptop"></i>
                Gamers
              </a>
            </li>
            <li class="side-nav--item active">
              <a href="#" class="list-group-item list-group">
                <i class="fas fa-laptop"></i>
                Almacenamiento
              </a>
            </li>
            <li class="side-nav--item active">
              <a href="#" class="list-group-item list-group">
                <i class="fas fa-laptop"></i>
                Accesorios
              </a>
            </li>
        </ul>
      </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9 products-list">
      <h2 class="products-list--title TechnicalForest-Bold margin-bottom--30">Computadores</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of listaArticulos; let i = index">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{item.arti_ruta}}" alt=""></a>
            <div class="card-body">
              <h6 class="card-title">
                <a href="#">{{item.arti_descripcion}}</a>
              </h6>
              <p>{{item.arti_precioventa1 | currency: '$'}}</p>
              <button  mat-button color="primary"  (click)="addProducto(producto)" > Añadir al carrito </button>

             
              <!-- <small class="text-muted ranking">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </small> -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->



      <article class="message" *ngFor="let producto of productos">
        <div class="message-header">
          <p class="subtitle white">{{producto.titulo}}</p>
        </div>
        <div class="message-body">
          {{producto.descripcion}}
          <br> Precio: {{producto.precio}} €
          <div class="message-footer">
            <button (click)="addProducto(producto)" class="button is-info">Añadir al carrito</button>
          </div>
        </div>
      </article>
      

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
<!-- /contact us -->
<contact-us-component></contact-us-component>
<!-- Footer -->
<footer-component></footer-component>
